poetry.lock

# Ignore test results files
tests/*/results.xml
tests/*/__pycache__
tests/*/sim_build

# Ignore example build files
example/*/fpga/fpga/fpga.cache/*
example/*/fpga/fpga/fpga.gen/*
example/*/fpga/fpga/fpga.hw/*
example/*/fpga/fpga/fpga.runs/*
example/*/fpga/fpga/fpga.srcs/*
example/*/fpga/fpga/create_project.tcl
example/*/fpga/fpga/defines.v
example/*/fpga/fpga/fpga.xpr
example/*/fpga/fpga/run_synth.tcl
example/*/fpga/fpga/update_config.tcl
example/*/fpga/fpga/fpga_utilization_hierarchical.rpt
example/*/fpga/fpga/fpga_utilization.rpt
example/*/fpga/fpga/fpga.bit
example/*/fpga/fpga/generate_bit.tcl
example/*/fpga/fpga/run_impl.tcl
example/*/fpga/fpga/rev/fpga_rev*.bit

# Ignore vivado files
.Xil
vivado_pid*